body {
  font-size: 100%;
  font-family: 'Source Sans 3', sans-serif;
  background-color: rgba(180, 231, 253, 0.219);
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  padding-top: 40px;
  background-image: url(../img/nait-logo.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 10px;
}

h1 {
  padding-top: 30px;
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
  padding-bottom: 10px;
}

.nait-logo {
  width: 300px;
}

.list-line {
  border-left: 2px solid grey;
  margin-left: 10px;
  margin-right: 10px;
}

.career-path {
  padding-top: 30px;
  padding-left: 20px;
}

.body-of-text {
  padding-top: 30px;
  padding-left: 20px;
}

ul.flex-container{
  display: flex;
}

.job-class li {
  padding-top: 20px;
  padding-left: 20px;
}

.page-divider {
  border-bottom: 6px solid #0053a7;

}

/* Bouncing DVD Logo */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html,
body{
  height:100%;
}

body{

  overflow:hidden;
}

img{
  display:block;
  max-width:100%;
}

svg{
  width:150px;
  animation:rainbow 8s infinite ease;
  position:absolute;
  transition: 100ms linear;
  
}

@keyframes rainbow{
  0%{
    fill:hsl(220, 70%, 50%);
  }
  25%{
    fill:hsl(120, 70%, 50%);
  }
  50%{
    fill:hsl(20, 70%, 50%);
  }
  75%{
    fill:hsl(300, 70%, 50%);
  }
  100%{
    fill:hsl(220, 70%, 50%);
  }
}