body {
  font-size: 100%;
  font-family: 'Source Sans 3', sans-serif;
  background-color: rgba(180, 231, 253, 0.219);
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  padding-top: 40px;
  background-image: url(../img/nait-logo.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 10px;
}

h1 {
  padding-top: 30px;
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
  padding-bottom: 10px;
}

.nait-logo {
  width: 300px;
}

.list-line {
  border-left: 2px solid grey;
  margin-left: 10px;
  margin-right: 10px;
}

.career-path {
  padding-top: 30px;
  padding-left: 20px;
}

.body-of-text {
  padding-top: 30px;
  padding-left: 20px;
}

ul.flex-container{
  display: flex;
}

.job-class li {
  padding-top: 20px;
  padding-left: 20px;
}

.page-divider {
  border-bottom: 6px solid #0053a7;

}

/* Bouncing DVD Logo */
body {
  overflow: hidden;
}

#logo {
  width: 20vmax;
  max-width: 250px;
  height: auto;
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.scanlines {
  --scan-height: 2px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(4px);
  opacity: 0.25;
  background: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) calc(var(--scan-height) * 1), rgba(255, 255, 255, 0.2) calc(var(--scan-height) * 2), rgba(255, 255, 255, 0.1) calc(var(--scan-height) * 2), rgba(255, 255, 255, 0.1) calc(var(--scan-height) * 3));
}